/*Seletor por Tipo*/
h1{
  background: darkblue;
  color: lightgreen;
}

div{
  background: lightblue;
  color: darkblue;
}

li{
  background: lightgreen;
}

/* Seletor por ID*/
#texto-boas-vindas {
  background: red;
  color: white;
}

/*Seletor por Classe*/
.seletores-comuns{
  color: red;

}

/*Seletor Universal*/
* {
font-size: 30px;
}

/*Seletor de Atributo*/
[title] { 
  color: green;
}

/* Estudo corres */

#predefenidas{
  color: purple;
}
#currentcolor{
  color: blueviolet;
  border: 2px solid currentColor;
}
#rgb{
  color: rgb(255, 0, 0);
}
#rgba{
  color: rgba(255, 0, 0, 0.25);
}
#hexadecimal{
  color: #3ff399;
}
#hexatrans{
  color: #fff3339f;
}
#hsl{
  color: hsl(120, 100%, 50%);
}
#hsla{
  color: hsla(120, 100%, 50%, 0.5);
}